* { 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
 }

.wrapper {
	width: 70%;
	margin: 0 auto;
}

header {
	background: #000;
}

header h1 {
	color: #fff;
	font-size: 30px;
	text-transform: capitalize;
	padding: 10px 0;
	text-align: center;
}

.slideshow-section {
	margin: 100px 0;
}

.slideshow {	
	padding: 10px;
}

.slideshow img {
	width: 100%;
	height: auto;
	transition: all .5s ease;
}

